
h1{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#113ca9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 150;
    font-size: 300%;
}
h2{
    color:#113ca9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
h3{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h4{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h5{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h6{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h7{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h8{
    color:#113ca9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
h9{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h10{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h11{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h12{
    color:#113ca9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
h13{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h14{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h15{
    color:#113ca9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
h16{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h17{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h18{
    color:#6680c3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
h19{
    color:#113ca9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
body{
    width: 100%;
    max-width: 900px;
    background-color: #cccccc;
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

}